<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h4 class="header">Create a blog post</h4>
    <div class="row">
      <form action="/publish" method="POST">
        {% csrf_token %}
        <input placeholder="Title" type="text" name="title" /><br />
        Content:<br/>
        <textarea name="post" cols="100" rows="100"></textarea>
        <input type="text" name="captcha_answer" placeholder="The answer to the question below" />
        <label for="captcha_answer">What is {{ captcha }}?</label>
        <br>
        <br>
        <input type="submit" value="Publish" />
      </form>
    </div>
  </div>
</div>
